body {
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 21, 0), tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.flexible-container {
    display: flex;
}

.flexible-container-two {
    display: flex;
}

.half-width {
    width: 40%;
    padding: 40px;
}

.half-width img {
    width: 80%;
    border-radius: 5px;
}

.text-one {
    text-align: center;
}

#background-color-1 {
    background-color: aquamarine;
}

.box-1 {
    width: 33%;
    box-shadow: 10px 10px 5px whitesmoke;
    background-color: rgb(172, 241, 218);
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;


}

.box-2 {
    width: 33%;
    box-shadow: 10px 10px 5px whitesmoke;
    background-color: rgb(242, 181, 236);
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;


}

.box-3 {
    width: 33%;
    box-shadow: 10px 10px 5px whitesmoke;
    background-color: rgb(150, 243, 221);
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;

}

.taka {
    width: 10%;
    box-shadow: 10px 10px 5px rgb(245, 216, 216);
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 5px;
    border-radius: 5px;
    border-style: hidden;
    text-align: center;
}